@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@layer utilities {
  .text-muted {
    color: #9e9fa0; /* Grau */
  }

  .bg-muted {
    background-color: #9e9fa0; /* Grau */
  }

  .font-sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .inTextLinkBold {
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  .inTextLink:hover {
    text-decoration: underline;
  }

  .link {
    color: #9e9fa0;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: #ffffff;
  }
}
