---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
// biome-ignore lint/suspicious/noShadowRestrictedNames: <explanation>
import Map from "../components/Map.astro";
import Introduction from "../components/Introduction.astro";
import Technology from "../components/Technology.astro";
import AboutMe from "../components/AboutMe.astro";
import RecentProjects from "../components/RecentProjects.astro";
---

<Layout title="Jakob Winklehner | Portfolio">
  <Map />
  <Introduction />
  <AboutMe />
  <div class="space-y-6 pt-6">
    <Technology />
    <RecentProjects />
  </div>
</Layout>
