---
import Layout from "../layouts/Layout.astro";
import TextBlock from "../components/TextBlock.astro";
---

<Layout title="Jakob Winklehner | Projects">
  <div class="pt-6">
    <h1>Projects</h1>

    <TextBlock title="RDM - Remote Desktop Manager" company="SYSco EDV" duration="Aug 2023 - Jun 2024">
      Desktopanwendung zur Verwaltung von Fernwartungen für SYSco EDV. Entwickelt mit C#, WPF und DevExpress im Rahmen der Diplomarbeit.
    </TextBlock>

    <TextBlock title="PlanITup" company="ABF GmbH" duration="Jun 2022 - Feb 2024">
      Webanwendung zur Optimierung von Projektorganisationen, entwickelt mit OpenUI5 im Rahmen der HTL-Ausbildung.
    </TextBlock>

    <div class="pt-6">
      <h1>Awards</h1>

      <TextBlock title="Project Award 2024">
        2. Platz und Sonderpreis für wirtschaftliche Verwendbarkeit, HTL Perg - Diplomarbeit RDM - Remote Desktop Manager
      </TextBlock>
    </div>
  </div>
</Layout>
