<div class="pt-4">
  I'm a creative software developer with hands-on experience from IT internships and a solid education at HTL Perg. <br /> I've refined my skills through
  school projects and real-world applications.
</div>
