---
const currentPath = Astro.url.pathname;
---

<div class="flex justify-between items-center pt-6">
  <a href="/" class="font-sora">Jakob Winklehner</a>
  <div class="flex space-x-4">
    <a href="/projects" class={`link ${currentPath === "/projects" || currentPath === "/technology" ? "!text-white" : ""}`}>projects</a>
    <a href="/workedu" class={`link ${currentPath === "/workedu" || currentPath === "/technology" ? "!text-white" : ""}`}>education & work</a>
    <a href="/contact" class={`link ${currentPath === "/contact" ? "!text-white" : ""}`}>contact</a>
  </div>
</div>
