<div class="flex justify-between items-center pt-6">
  <a href="/" class="font-sora">Jakob Winklehner</a>
  <div class="flex space-x-4">
    <a href="/projects" class="text-muted hover:text-white transition">projects</a>
    <a href="/workedu" class="text-muted hover:text-white transition">education & work</a>
    <a href="#" class="text-muted hover:text-white transition">contact</a>
  </div>
</div>
