<div class="flex justify-between items-center pt-6">
  <div class="font-sora">Jakob Winklehner</div>
  <div class="flex space-x-4">
    <a href="#" class="text-muted hover:text-white transition">projects</a>
    <a href="#" class="text-muted hover:text-white transition">education & work</a>
  </div>
</div>
