<div class="flex justify-between items-center pt-6">
  <a href="/" class="font-sora">Jakob Winklehner</a>
  <div class="flex space-x-4">
    <a href="/projects" class="link">projects</a>
    <a href="/workedu" class="link">education & work</a>
    <a href="/contact" class="link">contact</a>
  </div>
</div>
