<div class="flex items-center">
  <div class="w-2 h-2 bg-green-500 rounded-full animate-pulse"></div>

  <div class="relative group pl-2">
    <span class="text-muted group-hover:hidden">Available for work</span>
    <span class="text-muted hidden group-hover:inline">Reach out!</span>
  </div>
</div>
