---
import "../styles/global.css";
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-background text-foreground flex flex-col items-center min-h-screen">
    <div class="w-full max-w-screen-md px-4 flex flex-col flex-grow">
      <Nav />
      <main class="flex-grow">
        <slot />
      </main>
      <div class="pt-12">
        <Footer />
      </div>
    </div>
  </body>
</html>
