---
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-black text-white grid grid-cols-12">
    <div class="col-span-8 col-start-3">
      <slot />
    </div>
  </body>
</html>
